html,
body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.text {
  text-transform: uppercase;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
