html,
body {
  margin: 0;
  padding: 0;
}

html {
  color: #fff;
  background-color: #2b3a42;
  cursor: url(/images/wukong.png), auto;
}

noscript {
  top: 0;
  left: 0;
  width: 100%;
  color: #f00;
  display: block;
  cursor: default;
  position: fixed;
  line-height: 32px;
  text-align: center;
  background: #fff1a8;
  border-bottom: 1px solid #f0c36d;
}

.main {
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.text {
  text-transform: uppercase;
}

.video {
  width: 512px;
}

@media screen and (max-width: 512px) {
  .video {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
